.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 10px;   
    padding-top: 10px;
    font-family: 'Varela Round', sans-serif;
@media all and (min-width:1024px){
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
.page-error {
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
    
}
.error-p {
    margin-top: 15px;
    width: 400px;
    background-image: url('../../images/git-mapa.gif');
    background-position: top;
    background-size: cover;
    height: 40vh;
    text-align: left;
    padding: 30px;
    border-radius: 25px;
    align-self: baseline;
    font-family: 'Varela Round', sans-serif;

}
