.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;  
    background-color: #BBCBCB;
    height: 10vh;
}

.glasses {
    background-image: url('../../images/glasses.png');
    width: 50px;
    height: 50px;
    background-size: cover;
    @media all and (min-width:1024px){  
    width: 80px;
    height: 80px; 
   
}
    
    
}
.glasses:hover {
    transform: rotate(360deg);
    transition-duration: 1350ms;
}
.title {
    text-transform: capitalize;
}
.title-header {
    text-transform: capitalize;
    font-size:x-large;
}