@import './Search.scss';

.page {
    background-color: #BFD7EA;
    display: flex;
    flex-direction: column;
    height: 90vh;

}
.reset {
    width: 60px;
    height: 30px;
    border-radius: 25px;
    font-family: 'Varela Round', sans-serif;
}
